DB_URL="postgresql://test:test@postgres:5432/test"
DATABASE_URL="postgresql://test:test@localhost:9301/test"
DB_LOGGING="true"
STORAGE_PATH="/storage"

CORS_ORIGIN="http://localhost:1420,http://localhost:1422"
RUST_LOG="info"

SITE_URL="http://localhost:5173"
